.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    @apply block absolute w-16 h-16 border-8px border-transparent border-t-primary-purple rounded-full;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

fieldset .lds-ring{
    @apply w-5 h-5
}
fieldset .lds-ring div {
    @apply block absolute w-5 h-5 border-2px border-transparent border-t-primary-purple rounded-full;
    animation: lds-ring 0.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
