.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin: unset;
    padding: unset;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-syntax, pre.ql-syntax{
    @apply bg-slate-800 p-4 rounded-md text-white;
}
.ql-editor a{
    all:initial;
    @apply text-primary hover:underline cursor-pointer;
}
